.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/C7420700/cpp-definition-cache
*.pper
.Rproj.user/C7420700/persistent-state
.Rproj.user/C7420700/rmd-outputs
.Rproj.user/C7420700/sources/prop/INDEX
*.pper
.Rproj.user/C7420700/rmd-outputs
.Rproj.user/C7420700/sources/prop/INDEX
.Rproj.user/C7420700/rmd-outputs
.Rproj.user/C7420700/persistent-state
.Rproj.user/C7420700/pcs/workbench-pane.pper
.Rproj.user/C7420700/pcs/windowlayoutstate.pper
.Rproj.user/C7420700/pcs/source-pane.pper
.Rproj.user/C7420700/pcs/files-pane.pper
.Rproj.user/C7420700/pcs/debug-breakpoints.pper
.Rproj.user/C7420700/cpp-definition-cache
